
server:
  port: 8088


spring:
  application:
    name: patient-register-system
  datasource:
    url: jdbc:h2:file:./data/patientDb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: 1234
    driver-class-name: org.h2.Driver

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

jwt:
  secret-key: gUJ7cLK4G6PMYb17nKixXeoqqdIV+VpWv8PGNvItlpo=
  expiration: 36000
